link(rel='stylesheet', href='/css/bber.css', type='text/css')
style(type='text/css').
  .timeline ul li::before{
  background-image: url(/img/avator.webp);
  }
h1.page-title(style='display: inline;')= page.title
#bber-loading
#bber-tips(style='color: var(--heo-secondtext);')
  | 只展示最近30条短文
#bber
  .js-pjax
    script.
      var bbapiurl = "https://6262-bb-8gg0qn6z78dae0d6-1329727353.tcb.qcloud.la/json/bber-list.json?sign=ef3bc6c0adbd71f118c436fafe339a06&t=1727841507"
    script(type='text/javascript', src='/js/heobber.js', data-pjax='')